@keyframes bannerTitle {
  0% {
    left: -200%; }
  100% {
    left: 100%; } }

@keyframes button_paragraph {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1;
    visibility: visible; } }

@keyframes anim-return-button {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes pokeImg-anim {
  0% {
    transform: rotateZ(0deg); }
  20% {
    transform: rotateZ(15deg); }
  40% {
    transform: rotateZ(-15deg); }
  60% {
    transform: rotateZ(5deg); }
  80% {
    transform: rotateZ(-5deg); }
  100% {
    transform: rotateZ(0deg); } }

* {
  margin: 0;
  padding: 0;
  text-decoration: none; }

.container {
  width: 100%;
  height: 100vh;
  background-color: #000; }

.banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden; }
  .banner-title {
    position: relative;
    color: #91130f;
    font-size: 120px;
    border-top: 5px solid #91130f;
    border-bottom: 5px solid #91130f;
    font-family: 'Ubuntu', sans-serif; }
    @media (max-width: 750px) {
      .banner-title {
        font-size: 90px; } }
    @media (max-width: 550px) {
      .banner-title {
        font-size: 60px;
        border-top: 3px solid #91130f;
        border-bottom: 3px solid #91130f; } }
    @media (max-width: 350px) {
      .banner-title {
        font-size: 40px;
        border-top: 2px solid #91130f;
        border-bottom: 2px solid #91130f; } }
    .banner-title:before {
      content: "";
      position: absolute;
      top: -15%;
      left: -200%;
      width: 300%;
      height: 130%;
      background: linear-gradient(to right, transparent, #000, #000);
      animation: bannerTitle 4s forwards; }
  .banner-paragraph {
    font-size: 18px;
    color: #fff;
    font-family: 'Dosis', sans-serif;
    margin-top: 35px;
    opacity: 0;
    padding: 5px 10px;
    animation: button_paragraph 1s 2s linear forwards;
    background: linear-gradient(to right, #000, #c0120c, #000); }
    @media (max-width: 550px) {
      .banner-paragraph {
        font-size: 14px; } }
    @media (max-width: 350px) {
      .banner-paragraph {
        font-size: 12px; } }
  .banner-buttons {
    display: flex;
    opacity: 0;
    visibility: hidden;
    animation: button_paragraph 1s 2s linear forwards; }
    .banner-buttons .button-block {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
      .banner-buttons .button-block + .button-block {
        margin-left: 20px; }
    .banner-buttons .banner-button {
      outline: none;
      border: none;
      color: #fff;
      margin-top: 35px;
      padding: 10px 30px;
      background: linear-gradient(to right, #440402, #c0120c);
      border-radius: 40px;
      font-size: 24px;
      font-family: 'Dosis', sans-serif;
      letter-spacing: 2px;
      transform: perspective(500px) rotateY(-15deg);
      text-shadow: 6px 3px 2px rgba(0, 0, 0, 0.5);
      cursor: pointer;
      overflow: hidden;
      transition: all 0.5s; }
      .banner-buttons .banner-button:hover {
        transform: rotateY(15deg);
        text-shadow: -6px 3px 2px rgba(0, 0, 0, 0.5);
        background: linear-gradient(to right, #c0120c, #440402); }
      .banner-buttons .banner-button:hover::before {
        left: 100%; }
      .banner-buttons .banner-button::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #fff;
        top: 0;
        left: -100%;
        transform: skewX(-30deg);
        background: linear-gradient(to right, transparent, #fff, transparent);
        transition: left .5s; }
      @media (max-width: 750px) {
        .banner-buttons .banner-button {
          font-size: 20px;
          padding: 8px 25px; } }
      @media (max-width: 550px) {
        .banner-buttons .banner-button {
          font-size: 14px;
          margin-top: 40px;
          padding: 8px 20px; } }
      @media (max-width: 350px) {
        .banner-buttons .banner-button {
          font-size: 12px;
          padding: 6px 15px; } }
    .banner-buttons .evo-btn:hover + .pikachu {
      opacity: 1; }
    .banner-buttons .listen-btn:hover + .squirtle {
      opacity: 1; }
    .banner-buttons .gif {
      position: relative;
      width: 80px;
      height: 80px;
      margin-top: 20px;
      opacity: 0; }
      @media (max-width: 750px) {
        .banner-buttons .gif {
          width: 30px;
          height: 30px; } }
    .banner-buttons .pikachu {
      background: url(../images/pika.gif) no-repeat center center/cover; }
    .banner-buttons .squirtle {
      background: url(../images/squirtle.gif) no-repeat center center/cover; }

.pokemonsPage {
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  animation: anim-return-button 2s;
  display: none; }
  .pokemonsPage .return-banner {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    animation: anim-return-button 1s; }
    .pokemonsPage .return-banner i {
      font-size: 24px;
      color: #fff;
      transition: transform .5s; }
      .pokemonsPage .return-banner i:hover {
        transform: scale(1.5); }
  .pokemonsPage .row {
    width: 100%;
    height: 100vh;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden; }
    @media (max-width: 520px) {
      .pokemonsPage .row {
        height: 100%; } }
    .pokemonsPage .row .pokemon-content {
      width: 235px;
      height: 180px;
      position: relative;
      display: flex;
      flex-direction: column;
      box-sizing: border-box; }
      @media (max-width: 1450px) {
        .pokemonsPage .row .pokemon-content {
          width: 180px;
          height: 150px; } }
      @media (max-width: 1120px) {
        .pokemonsPage .row .pokemon-content {
          width: 140px;
          height: 120px; } }
      @media (max-width: 880px) {
        .pokemonsPage .row .pokemon-content {
          width: 120px;
          height: 100px; } }
      @media (max-width: 770px) {
        .pokemonsPage .row .pokemon-content {
          width: 100px;
          height: 100px; } }
      @media (max-width: 640px) {
        .pokemonsPage .row .pokemon-content {
          width: 120px;
          height: 120px; } }
      @media (max-width: 320px) {
        .pokemonsPage .row .pokemon-content {
          width: 120px;
          height: 120px; } }
      .pokemonsPage .row .pokemon-content .poke-img {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        transition: all .5s; }
      .pokemonsPage .row .pokemon-content .poke-name {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 24px;
        opacity: 0;
        transition: all .5s;
        text-transform: uppercase;
        user-select: none;
        pointer-events: none;
        font-family: 'Caveat', cursive; }
        @media (max-width: 880px) {
          .pokemonsPage .row .pokemon-content .poke-name {
            font-size: 22px; } }
      .pokemonsPage .row .pokemon-content .poke-audio {
        position: absolute;
        bottom: 0;
        width: 100%;
        opacity: 0;
        visibility: hidden; }
  .pokemonsPage .pokemons-page-info {
    color: #fff;
    font-size: 12px;
    opacity: .5;
    position: absolute;
    top: 1%;
    font-family: 'Dosis', sans-serif; }
