@import "animations";
@import "base";


.banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    
    &-title {
        position: relative;
        color: #91130f;
        font-size: 120px;
        border-top: 5px solid #91130f;
        border-bottom: 5px solid #91130f;
        font-family: 'Ubuntu', sans-serif;
       
        @media (max-width:750px) {
            font-size: 90px;
        }

        @media (max-width:550px) {
            font-size: 60px;
            border-top: 3px solid #91130f;
            border-bottom: 3px solid #91130f;
        }

        @media (max-width:350px) {
            font-size: 40px;
            border-top: 2px solid #91130f;
            border-bottom: 2px solid #91130f;
        }

        &:before {              //that makes an effect on the title of the banner
            content: "";
            position: absolute;
            top: -15%;
            left: -200%;
            width: 300%;
            height: 130%;
            background: linear-gradient(to right, transparent, #000, #000);
            animation: bannerTitle 4s forwards;  
        }
    }

    &-paragraph {
        font-size: 18px;
        color: #fff;
        font-family: 'Dosis', sans-serif;
        margin-top: 35px;
        opacity: 0;
        padding: 5px 10px;
        animation: button_paragraph 1s 2s linear forwards;
        background: linear-gradient(to right, #000, #c0120c, #000);

        @media (max-width:550px) {
            font-size: 14px;
        }

        @media (max-width:350px) {
            font-size: 12px;
        }
    }

    &-buttons {          //contains two buttons and position them left-to-right direction because banner has flex-direction:column
        display: flex;
        opacity: 0;
        visibility: hidden;
        animation: button_paragraph 1s 2s linear forwards;

        .button-block {          //contains button and image(gif) and positions them top-to-bottom direction
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            &+ .button-block{        //gap between 2 buttons. using margin-left is not good because first element shouldnt have margin
                margin-left: 20px;
            }
        }

        .banner-button {            //general class name for 2 buttons (see evolution & listen to them) to prevent repetitive code
            outline: none;
            border: none;
            color: #fff;
            margin-top: 35px;
            padding: 10px 30px;
            background: linear-gradient(to right, #440402, #c0120c);
            border-radius: 40px;
            font-size: 24px;
            font-family: 'Dosis', sans-serif;
            letter-spacing: 2px;
            transform: perspective(500px) rotateY(-15deg);
            text-shadow: 6px 3px 2px rgba(#000, .5);
            cursor: pointer;
            overflow: hidden;
            transition: all 0.5s;
            

            &:hover {
                transform: rotateY(15deg);
                text-shadow: -6px 3px 2px rgba(#000, .5);
                background: linear-gradient(to right, #c0120c, #440402);
            }

            &:hover::before {       //"a white block=before" swipes from left to right
                left: 100%;                         
            }                                         
                                                      
            &::before {             //this is the white block which swipes left to right                  
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: #fff;
                top: 0;
                left: -100%;
                transform: skewX(-30deg);
                background: linear-gradient(to right, transparent, #fff, transparent);
                transition: left .5s;
            }

            @media (max-width:750px) {
                font-size: 20px;
                padding: 8px 25px;
            }

            @media (max-width:550px) {
                font-size: 14px;
                margin-top: 40px;
                padding: 8px 20px;
            }

            @media (max-width:350px) {
                font-size: 12px;
                padding: 6px 15px;
            }
        }

        .evo-btn {              //evolution button to add pikachu gif
            &:hover+.pikachu {
                opacity: 1;
            }
        }

        .listen-btn {           //listen to them button to add squirtle gif
            &:hover+.squirtle {
                opacity: 1;
            }
        }

        .gif {                     //general class name for the gifs below to prevent repetitive code
            position: relative;
            width: 80px;
            height: 80px;
            margin-top: 20px;
            opacity: 0;

            @media (max-width:750px){
                width: 30px;
                height: 30px;
            }
        }

        .pikachu {                                                              //shows when hover on buttons(see evolution, listen)
            background: url(../images/pika.gif) no-repeat center center / cover;
        }

        .squirtle {
            background: url(../images/squirtle.gif) no-repeat center center/ cover;
        }
    }
}

.pokemonsPage {
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    animation: anim-return-button 2s;
    display: none;

    .return-banner {            //times symbol on the top in order to return to banner page  
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        animation: anim-return-button 1s;
        
        i {                     //from font-awesome.com
            font-size: 24px;
            color: #fff;
            transition: transform .5s;
            &:hover{
                transform: scale(1.5);
            }
        }
    }

    .row {                  //pokemons divided two part, each left & right block has 9 pokemons
        width: 100%;
        height: 100vh;
        padding: 10px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        overflow-y: auto;
        overflow-x: hidden;

        @media (max-width:520px) {
            height: 100%;
        }

        .pokemon-content {          //includes each pokemon's img, name, voice.
            width: 235px;
            height: 180px;
            position: relative;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
          

            @media (max-width:1450px) {
                width: 180px;
                height: 150px;
            }

            @media (max-width:1120px) {
                width: 140px;
                height: 120px;
            }

            @media (max-width:880px) {
                width: 120px;
                height: 100px;
            }

            @media (max-width:770px) {
                width: 100px;
                height: 100px;
            }

            @media (max-width:640px) {
                width: 120px;
                height: 120px;
            }

            @media (max-width:320px) {
                width: 120px;
                height: 120px;
            }

            .poke-img {
                margin: 0 auto;
                width: 100%;
                height: 100%;
                transition: all .5s;
            }

            .poke-name {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: #fff;
                font-size: 24px;
                opacity: 0;
                transition: all .5s;
                text-transform: uppercase;
                user-select: none;
                pointer-events: none;
                font-family: 'Caveat', cursive;

                @media (max-width:880px) {
                    font-size: 22px;
                }
            }

            .poke-audio {               //Audio plays when one clicking on the pokemon. Audio stops when double clicking on the pokemon
                position: absolute;
                bottom: 0;
                width: 100%;
                opacity: 0;
                visibility: hidden;
            }
        }
    }

    .pokemons-page-info{    //info for users regarding playing and stopping the audio
        color: #fff;
        font-size: 12px;
        opacity: .5;
        position: absolute;
        top: 1%;
        font-family: 'Dosis', sans-serif;
        
    }
}